---
import { Head } from "@mannisto/astro-metadata"
---

<html>
  <Head title="My Page">
    <meta slot="top" http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta slot="top" name="theme-color" content="#ffffff" />
    <meta name="custom" content="test" />
    <meta name="author" content="Ere Männistö" />
  </Head>
  <body> </body>
</html>
