---
import { Head } from "@mannisto/astro-metadata"
---

<html>
  <Head
    title="My Page"
    description="Welcome to my site"
    image={{
      url: "/og.jpg",
      alt: "My Site",
      width: 1200,
      height: 630,
    }}
  />
  <body> </body>
</html>
