---
import { Twitter } from "@mannisto/astro-metadata"
---

<html>
  <head>
    <Twitter
      title="My Page"
      image={{
        url: "/og.jpg",
        alt: "My Site",
      }}
    />
  </head>
  <body> </body>
</html>
