---
import { Schema } from "@mannisto/astro-metadata"
---

<html>
  <head>
    <meta charset="UTF-8" />
    <Schema
      schema={{
        "@context": "https://schema.org",
        "@type": "Person",
        name: "Ere Männistö",
        url: "https://example.com",
        email: "ere@example.com",
      }}
    />
  </head>
  <body> </body>
</html>
