---
import { LanguageAlternates } from "@mannisto/astro-metadata"
---

<html>
  <head>
    <LanguageAlternates
      alternates={[
        { href: "https://example.com/en", hreflang: "en" },
        { href: "https://example.com/fi", hreflang: "fi" },
      ]}
    />
  </head>
  <body> </body>
</html>
