---
import { Favicon } from "@mannisto/astro-metadata"
---

<html>
  <head>
    <Favicon
      icons={[
        { path: "/favicon.ico" },
        { path: "/favicon.svg" },
        { path: "/favicon-96x96.png", size: 96 },
        { path: "/apple-touch-icon.png", size: 180, apple: true },
        { path: "/favicon-dark.svg", theme: "dark" },
        { path: "/favicon-light.svg", theme: "light" },
      ]}
      manifest="/site.webmanifest"
    />
  </head>
  <body> </body>
</html>
