---
import { Head } from "@mannisto/astro-metadata"
---

<html>
  <Head
    title="My Page"
    titleTemplate="%s | My Site"
    description="Welcome to my site"
    canonical="https://example.com"
    keywords={["astro", "seo", "metadata"]}
    image={{
      url: "/og.jpg",
      alt: "My Site",
      width: 1200,
      height: 630,
    }}
    robots={{ archive: false }}
    favicon={{
      icons: [{ path: "/favicon.ico" }, { path: "/favicon.svg" }],
    }}
    languageAlternates={[
      { href: "https://example.com/en", hreflang: "en" },
      { href: "https://example.com/fi", hreflang: "fi" },
    ]}
    schema={{
      schema: {
        "@context": "https://schema.org",
        "@type": "WebSite",
        name: "My Site",
      },
    }}
  />
  <body> </body>
</html>
