---
import { OpenGraph } from "@mannisto/astro-metadata"
---

<html>
  <head>
    <OpenGraph
      title="My Page"
      image={{
        url: "/og.jpg",
        secureUrl: "https://example.com/og.jpg",
        type: "image/jpeg",
        alt: "My Site",
        width: 1200,
        height: 630,
      }}
    />
  </head>
  <body> </body>
</html>
