---
import { OpenGraph } from "@mannisto/astro-metadata"
---

<html>
  <head>
    <OpenGraph
      title="My Page"
      video={{
        url: "https://example.com/video.mp4",
        secureUrl: "https://example.com/video.mp4",
        type: "video/mp4",
        width: 1280,
        height: 720,
      }}
    />
  </head>
  <body> </body>
</html>
